.card, .displaycard{
    width: 90%;
    height: 200px;
    margin: 0 auto 20px;
    text-align: center;
    font-size: 2rem;
    position: relative;
    max-width: 400px;
}

.card div, .displaycard div {
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: all 600ms;
    border-radius: 5px;
    box-shadow: -6px 6px 0px 2px lightgray;
}

.flipped {
    transform: rotateY(180deg);
}

.front {
    background-color: black;
    color: peachpuff;
    border: 2px solid peachpuff;
}

.back {
    background-color: peachpuff;
    color: black;
    border: 2px solid black;
}

div.links {
    text-align: center;
}