.card {
    width: 500px;
    height: 200px;
    margin: 10px;
    text-align: center;
    font-size: 2rem;
    position: relative;
}

.card div {
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: all 600ms;
    border-radius: 5px;
}

.flipped {
    transform: rotateY(180deg);
}

.front {
    background-color: black;
    color: peachpuff;
    border: 2px solid peachpuff;
}

.back {
    background-color: peachpuff;
    color: black;
    border: 2px solid black;
}