<h2>Deck List</h2>

<% if flash[:error] %>
  <br>
  <strong>
  <%= flash[:error] %>
  </strong>
  <br>
<% end %>

<ul>
<% @decks.each do |deck| %>
<li>
<%= link_to deck.name, deck_path(deck.id) %>
</li>
<% end %>
</ul>