<h2>Play</h2>
<% p @card%>
<div class="card">
  <div class="front"><%= @card.front_text %></div>
  <div class="back"><%= @card.back_text %></div>
</div>
<p> TODO: add links for wrong, flip, right </p>
<%= link_to "Wrong!", confidence_path(id: @card.id, num: -1), method: :put %>
<%= link_to "Right!", confidence_path(id: @card.id, num: +1), method: :put %>
<ol>How to play:
  <li>Look at the card</li>
  <li>Guess <em>aloud</em> what is on the other side</li>
  <li>tap space to flip the card</li>
  <li>right? - right arrow</li>
  <li>wrong? - left arrow</li>
</ol>
